body{
background: #35A9DB;
font-family: roboto;
color: #fff;
}
h1{
width: 550px;
}
.kotak{
background: blue;
width: 200px;
height: 200px;
animation-name: animasi_kotak;
animation-duration: 2s;
}
@keyframes animasi_kotak{
from{ background: blue;}
to{background: red;}
}
.kotak1{
background: #DC143C;
width: 200px;
height: 200px;
border-radius: 100%;
animation-name: animasi_kotak1;
animation-duration: 2s;
}
@keyframes animasi_kotak1{
from{ background: #DC143C;}
to{background: #FFA07A;}
}
